<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="kr.spring.items.dao.ItemsMapper">  
	<!-- sql id = 재사용 가능한 쿼리 정의 -->
	<!-- 상품 표시가 되있는 제품 중 상품명, 상품설명, 상품명+상품설명으로 검색하는 기능  -->
	<sql id="itemsSearch">
  		WHERE status > #{status}
  		<!-- 검색 -->
  		<if test="keyword!=null and keyword!='' ">
  			<if test="keyfield == 1"> and (items_name LIKE '%' || #{keyword} || '%' or items_content LIKE '%' || #{keyword} || '%' or mem_nickname LIKE '%' || #{keyword} || '%') </if>
	  		<if test="keyfield == 2"> and items_name LIKE '%' || #{keyword} || '%'</if>
	  		<if test="keyfield == 3"> and items_content LIKE '%' || #{keyword} || '%'</if>
	  		<if test="keyfield == 4"> and mem_nickname LIKE '%' || #{keyword} || '%'</if>
	  		
  		    </if>
		<!-- 사이드바 카테고리 -->
  		<if test="cate != null"> 
  				<if test="'지갑'.equals(cate)"> and cate_name = '남성' or cate_name = '여성'</if>
  				<if test="'향수'.equals(cate)"> and cate_name = '퍼퓸' or cate_name = '오 드 뚜왈렛' or cate_name = '오 드 퍼퓸' or cate_name = '오 드 코롱'</if>
  				<if test="'휴대폰 케이스'.equals(cate)"> and cate_name = '실리콘' or cate_name = '메탈' or cate_name = '가죽' or cate_name = '탄소 섬유'  </if>
  				<if test=" !'지갑'.equals(cate) and !'향수'.equals(cate) and !'휴대폰케이스'.equals(cate)"> and cate_name LIKE '%' || #{cate} || '%'</if>
  		</if>
  		
  	</sql> 
<!-- ========================================================================== -->
	<sql id="itemsFilter">
		ORDER BY
		<if test="price_order == null and oder == null">
			items_num DESC
		</if>
		<!-- 가격순 정렬 -->
  		<if test="price_order != null">
  			<if test="price_order == 1"> items_price DESC </if>
  			<if test="price_order == 2"> items_price ASC </if>
  		</if>	
  		<!-- 최신순, 리뷰순, 좋아요순 정렬   -->
  		<if test="order != null">
  			<if test="order == 1 "> items_num DESC</if>
  			<if test="order == 2"></if>
  			<if test="order == 3"></if>
  		</if>
	</sql>

<!-- ========================================================================== -->
    <select id="selectItemsCount" parameterType="map" resultType="Integer">
  		SELECT
  		  COUNT(*)
  		FROM items a INNER JOIN member b
  		ON a.mem_num = b.mem_num
  		INNER JOIN items_cate c
  		ON a.cate_num = c.cate_num
  		    <!--refid = 재사용할 쿼리 선언   -->
  		<include refid="itemsSearch"></include>
  		<include refid="itemsFilter"></include>
  	</select>	
<!-- ========================================================================== -->  
  	<select id="selectItemsList" parameterType="map" resultType="itemsVO">
  	   SELECT
  	       *
  	    FROM (SELECT
  	            a.*,
  	            rownum rnum
  	          FROM (SELECT
  	                  *
  	                FROM items a INNER JOIN member b
  	                ON a.mem_num = b.mem_num
  	                INNER JOIN items_cate c
  					ON a.cate_num = c.cate_num
  	                <include refid="itemsSearch"></include>
  	                <include refid="itemsFilter"></include>
  	                
  	                )a)
  	   <![CDATA[
  	   WHERE rnum >= #{start} AND rnum <= #{end}
  	   ]]>
  	</select>
</mapper>







