<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">  
	
	<!-- <select id="selectCourseFav" parameterType="map" resultType="courseVO">
		SELECT 
         * 
      FROM (SELECT 
            a.*, 
            rownum rnum
            FROM (SELECT 
                  * 
                 FROM 
                 course_fav f JOIN member m 
                          ON f.fmem_num=m.mem_num 
                          JOIN course c 
                          ON f.course_num=c.course_num 
                 WHERE f.fmem_num=#{mem_num}
                 ORDER BY c.course_num DESC) a) 
      <![CDATA[
      WHERE rnum >= #{start} and rnum <= #{end}
      ]]>
	</select>
	
	<select id="selectItemsFav" parameterType="map" resultType="itemsVO">
		SELECT 
         * 
      FROM (SELECT 
            a.*, 
            rownum rnum
            FROM (SELECT 
                  * 
                 FROM 
                 items_fav f JOIN member m 
                          ON f.fmem_num=m.mem_num 
                          JOIN items i 
                          ON f.items_num=i.items_num 
                 WHERE f.fmem_num=#{mem_num}
                 ORDER BY i.items_num DESC) a) 
      <![CDATA[
      WHERE rnum >= #{start} and rnum <= #{end}
      ]]>
	</select>
	
	<select id="selectSpaceFav" parameterType="map" resultType="spaceVO">
		SELECT 
         * 
      FROM (SELECT 
            a.*, 
            rownum rnum
            FROM (SELECT 
                  * 
                 FROM 
                 space_fav f JOIN member m 
                          ON f.fmem_num=m.mem_num 
                          JOIN space s 
                          ON f.space_num=s.space_num 
                 WHERE f.fmem_num=#{mem_num}
                 ORDER BY s.space_num DESC) a) 
      <![CDATA[
      WHERE rnum >= #{start} and rnum <= #{end}
      ]]>
	</select>
	 -->

	 
	<select id="selectOrderList" parameterType="map" resultType="orderVO">
		SELECT 
			* 
		FROM(SELECT
				a.*,
				rownum rnum
			FROM(SELECT 
					*
				 FROM orders JOIN order_detail USING(order_num)
				 WHERE 
				 <if test="keyfield==1">course_num is not null and</if>
				 <if test="keyfield==2">items_num is not null and</if>
				 <if test="keyfield==3">space_num is not null and</if>
				 mem_num=#{mem_num}
				 ORDER BY order_date DESC)a)
		  <![CDATA[
  		  WHERE rnum >= #{start} and rnum <= #{end}
  		  ]]>
	</select>
	
	<select id="selectMemberRowCount" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM member m LEFT OUTER JOIN member_detail d
  		ON m.mem_num = d.mem_num 
  		<where>
  			<if test="keyword != null and keyword != ''">
  				<if test="keyfield == 1">
  					m.mem_id LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					d.mem_name LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 3">
  					m.mem_id LIKE '%' || #{keyword} || '%' OR
  					d.mem_name LIKE '%' || #{keyword} || '%' 
  				</if>
  			</if>
  		</where>                        
  	</select>
  	
  	<select id="selectMemberList" parameterType="map"
  	                           resultType="memberVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM member m LEFT OUTER JOIN
  		                 member_detail d 
  		            ON m.mem_num = d.mem_num  
  		             <where>
			  			<if test="keyword != null and keyword != ''">
			  				<if test="keyfield == 1">
			  					m.mem_id LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 2">
			  					d.mem_name LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 3">
			  					m.mem_id LIKE '%' || #{keyword} || '%' OR
			  					d.mem_name LIKE '%' || #{keyword} || '%'
			  				</if>
			  			</if>
			  		</where>
  		            ORDER BY d.mem_date DESC NULLS LAST)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>
  	
  	<!-- 
  	<select id="selectCourseList" parameterType="map" resultType="courseVO">
  		SELECT
  			*
  		FROM(SELECT
  				a.*,
  				rownum rnum
  			 FROM (SELECT
  			 		  *
  			 	   FROM course
  			 WHERE mem_num=#{mem_num}
  			 ORDER BY course_date DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]> 
  	</select>
  	
  	<select id="selectItemsList" parameterType="map" resultType="itemsVO">
  		SELECT
  			*
  		FROM(SELECT
  				a.*,
  				rownum rnum
  			 FROM (SELECT
  			 		  *
  			 	   FROM items
  			 WHERE mem_num=#{mem_num}
  			 ORDER BY items_date DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]> 
  	</select>
  	
  	<select id="selectSpaceList" parameterType="map" resultType="spaceVO">
  		SELECT
  			*
  		FROM(SELECT
  				a.*,
  				rownum rnum
  			 FROM (SELECT
  			 		  *
  			 	   FROM space
  			 WHERE mem_num=#{mem_num}
  			 ORDER BY space_date DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]> 
  	</select>
  	-->
  	<!-- 주문 정보 -->
  	
	<sql id="orderSearchByMem_num">
  		WHERE mem_num = #{mem_num}
  		<if test="keyword !=null and keyword != ''">
  			<if test="keyfield == 1">
  				AND order_num = #{keyword}
  			</if>
  			<if test="keyfield == 2">
  				AND order_name LIKE '%' || #{keyword} || '%'
  			</if>
  		</if>
  	</sql>
  	
  	<sql id="orderSearch">
  		<where>
  			<if test="keyword != null">
  				<if test="keyfield == 0">
  					order_status = 0
  				</if>
  				<if test="keyfield == 1">
  					order_status = 1
  				</if>
  				<if test="keyfield == 2">
  					order_status = 2
  				</if>
  				<if test="keyfield == 3">
  					order_status = 3
  				</if>
  				<if test="keyfield == 4">
  					order_status = 4
  				</if>
  				<if test="keyfield == 5">
  					refund_status = 0
  				</if>
  				<if test="keyfield == 6">
  					refund_status = 1
  				</if>
  			</if>
  		</where>
  	</sql>
  	
  	<select id="selectListOrderByMem_num" parameterType="map" resultType="orderVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM orders
  		            <include refid="orderSearchByMem_num"></include>
  		            ORDER BY order_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>            
  	</select>
  	
  	<select id="selectOrderCountByMem_num"
  	       parameterType="map" resultType="integer">
  		SELECT
  		   COUNT(*)
  		FROM orders
  		<include refid="orderSearchByMem_num"></include>
  	</select>
  	
  	<update id="updateOrder" parameterType="orderVO">
  		UPDATE orders
  		SET
  		 <if test="order_status=0 or order_status=1 and refund_status!=0 and refund_status!=1">
  		 receive_name=#{receive_name},
  		 receive_post=#{receive_post},
  		 receive_address1=#{receive_address1},
  		 receive_address2=#{receive_address2},
  		 receive_phone=#{receive_phone},
  		 notice=#{notice},
  		 </if>
  		 order_status=#{order_status},
  		 refund_status=#{refund_status}
  	   WHERE order_num=#{order_num}
  	</update>

  	
  	<select id="selectListDelivery" parameterType="map" resultType="orderVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM orders o JOIN orders_detail d ON o.order_num=d.order_num
  		            			  JOIN course c ON c.course_num=d.course_num
  		          	WHERE c.mem_num=#{mem_num}
  		            <include refid="orderSearch"></include>
  		            ORDER BY o.order_num DESC)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                                        
  	</select>
  	
  	<select id="selectDeliveryCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM orders o JOIN orders_detail d ON o.order_num=d.order_num
  		              JOIN course c ON c.course_num=d.course_num
  		WHERE c.mem_num=#{mem_num}
  		<include refid="orderSearch"></include>	
  	</select>
  	
  	<select id="selectEventApplyCount" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM event e JOIN event_apply a
  		ON e.event_num=a.event_num
  		WHERE a.mem_num=#{mem_num}                   
  	</select>
  	
  	<select id="selectListEventApply" parameterType="map" resultType="eventVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM event e JOIN event_apply a
  					ON e.event_num=a.event_num 
  		            where a.mem_num=#{mem_num}
				  			<if test="keyfield == 1">
				  				ORDER BY a.event_a_date ASC
				  			</if>
				  			<if test="keyfield == 2">
				  				ORDER BY e.event_rdate ASC
				  			</if>
				  			)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>
  	
  	<select id="selectEventCount" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM event
		WHERE mem_num=#{mem_num}
  	</select>
  	
  	<select id="selectListEvent" parameterType="map" resultType="eventVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM event e 
  					WHERE mem_num=#{mem_num}
				  			<if test="keyfield == 1">
				  				ORDER BY e.event_date ASC
				  			</if>
				  			<if test="keyfield == 2">
				  				ORDER BY e.event_end ASC
				  			</if>
				  			<if test="keyfield == 3">
				  				ORDER BY e.event_rdate ASC 
				  			</if>
				  			)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>                           
  	</select>
  	
  	<select id="selectEventWinCount" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM event_apply a 
  			JOIN event e ON a.event_num=e.event_num 
			JOIN member m ON a.mem_num=m.mem_num
  		<where>
  			<if test="keyword !=null and keyword != ''">
  				<if test="keyfield == 1">
  					m.mem_id LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					m.mem_nickname LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 3">
  					e.event_title LIKE '%' || #{keyword} || '%'
  				</if>
  			</if>
  		</where>
		WHERE e.mem_num=#{mem_num}
  	</select>
  	
  	<select id="selectListEventWin" resultType="eventVO">
  		SELECT
  			*
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  					FROM event_apply a
	  				JOIN event e ON a.event_num=e.event_num
	  				JOIN member m ON a.mem_num=m.mem_num
			  		WHERE
			  			<if test="keyword !=null and keyword != ''">
			  				<if test="keyfield == 1">
			  					m.mem_id LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 2">
			  					m.mem_nickname LIKE '%' || #{keyword} || '%'
			  				</if>
			  				<if test="keyfield == 3">
			  					e.event_title LIKE '%' || #{keyword} || '%' AND
			  				</if>
			  			</if>
			  		e.mem_num=#{mem_num}
	  				ORDER BY event_rdate ASC)a)
	  	<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]> 
  	</select>
</mapper>







