@charset "UTF-8";

/*강의-메인
=============================*/


/*사이드바*/
#course_main{
	display:flex;
}
#sidebar{
	width:20%;
}
#content{
	width:80%;
}

#sidebar ul{
	padding:0;
	margin-right:20px;
}
#sidebar a{
	display:block;
	text-decoration: none;
	color:#404040;
	cursor: pointer;
}
#sidebar .cate{
	padding:10px;
	font-size: 14pt;
	font-weight: bold;
	transition:.2s;
}
#sidebar .cate:hover, #sidebar .active-color0{
	background-color:#F2F2F2;
	border-radius: 10px;
	font-size:16pt;
}
#sidebar .active-color0{
	color:#FF4E02;
}

#sidebar .d_cate{
	font-size:10pt;
	line-height:3em;
	padding:10px 0 20px 10px;
	margin:0;
	display:none;
}
#sidebar .d_cate li:hover, #sidebar .active-color{
	font-weight:bold;
	font-size:11pt;
}
#sidebar .active-color{
	color:#FF4E02;
}
#sidebar .active-black{
	color:#404040;
}


/*오른쪽 컨텐츠*/
#content{
	padding-top:10px;
}
#select{
 	margin-bottom:10px;
}
 
#onoff{
	display:flex;
	justify-content:space-between;
	align-items:center;
 	width:130px;
 	height:40px;
 	margin:0 auto;
 	padding:0 10px;
 	margin-bottom:20px;
 	border-radius: 20px;
 	background-color: #076AFF;
 	box-shadow:inset 1px 1px 5px 0 rgb(77, 71, 71);
}
#onoff #on{
	width:70%;
 	color:#FFF;
 	margin-left:10px;
}
#onoff #btn{
	width:27px;
	height:27px;
	border-radius:50%;
	background-color: #FFF;
	box-shadow:1px 1px 5px 0 rgb(77, 71, 71);
}
 
 
#course_search{
	width:50%;
	min-width:400px;
	margin:0 auto;
	margin-bottom:50px;
}
#course_search #search_bar{
	background-color: #FFF;
	border:1px solid lightgray;
	border-radius:10px;
}
#course_search #search_bar:focus{
	outline:5px solid #E0E0E0;
	transition:.2s;
}
#course_search #search_icon{
	background-color: #FFF;
	border:none;
}
#content .form-select{
	width:100px;
	height:40px;
	border-radius: 10px;
}
#course_search .form-select{
	margin-right:10px;
}
#select .select{
	margin-left:10px;
}
#select{
	display: flex;
	justify-content:flex-end;
	align-items: center;
}
#select #total{
	margin-right:auto;	
	line-height:40px;
	text-align: bottom;
}
#select #location option{
	height:100px;
	border-color: gray;
}






/*강의-상세
=============================*/



.margin-top{
	margin-top: 30px;
}


/*강의-등록폼,수정폼
=============================*/
#course_form h5{
	color:#404040;
	width:70%;
	margin:0 auto;
}
#course_form table{
	width:70%;
	margin:0 auto;
	margin-top:30px;
	font-size:10pt;
}
#course_form tr{
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
}
#course_form td:first-child{
	border-bottom:1px solid #FFF;
	width:200px;
	text-align: center;
	font-weight:bold;	
	background-color: lightgray;
}
#course_form td{
	padding:10px 20px;
}
.width-200{
	width:200px;
}


#course_form input[type=text],
#course_form input[type=number],#course_vprice{
	width:100%;
	outline:1px solid lightgray;
	border:none;
	border-radius:5px;
	padding:5px 5px 5px 10px;
}
#course_form input[type=text]:hover,#course_form input[type=text]:focus,
#course_form input[type=number]:hover,#course_form input[type=number]:focus,
#course_form .btn-select:hover{
	outline:3px solid gray;
}

/*라디오버튼*/
#course_form input[type=radio]{
	margin-right:5px;
}
#course_form label{
	margin-right:20px;
	cursor: pointer;
}

#course_form input[type="radio"] {
	vertical-align:middle;
	appearance: none;/*기본속성제거*/
	border: 2px solid gray;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: border 0.3s ease-in-out;/*속도 천천-보통-천천*/
}
#course_form input[type=radio]:checked{
	border: 0.4em solid #FF4E02;
}
#course_form input[type=radio]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor: pointer;
}


/*카테고리*/
#course_form .btn-select, #course_form .btn-select2{
	display:inline-block;
	width: 200px;
	height:30px;
	padding: 5px 10px 5px 10px;
	font-size: 13px;
	background-color: #fff;
	outline: 1px solid lightgray;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
}
#course_form .list-box,#course_form .list-box2{
	display:none;
	position:relative;
	border:none;
}
#course_form .list-cate,#course_form .list-cate2{
	position: absolute;
	top:10px;left:0;
	width:200px;
	margin:0;
	padding:0;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	z-index:997;
}
#course_form .list-cate li,#course_form .list-cate2 li{
    width: 100%;
    height:40px;
	line-height:30px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
}
#course_form .list-cate li:first-child,#course_form .list-cate2 li:first-child{
	border-radius:5px 5px 0 0;
}
#course_form .list-cate li:last-child,#course_form .list-cate2 li:last-child{
	border-radius:0 0 5px 5px;
}


#course_form .list-cate li:hover,#course_form .list-cate2 li:hover{
    background-color: #F2F2F2;
    font-weight:bold;
    color:#FF4E02;
}




/*요일,시간*/
#datetime label{
	width:80px;
	border:1px solid lightgray;
	border-radius: 5px;
	padding:5px 10px;
	text-align:center;
	font-weight:bolder;
	color:lightgray;
}
#datetime label:hover{
	box-shadow:0 0 0 3px lightgray;
	cursor:pointer;
}
#datetime input[type=checkbox]{
	display:none;
}
#datetime input[type=checkbox]:checked ~ label{
	border:none;
	background-color:#FF4E02;
	color:#FFF;
}
#datetime .time-choice{
	display: none;
	margin-top:20px;
}










#course_form ul:not(.list-cate,.list-cate2){
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin:0;
	padding:0;
}

/*수강인원수*/
#course_form tr:nth-child(7) ul{
	width:200px;
	height:30px;
	outline: 1px solid lightgray;
	border-radius: 5px;
}
#course_form tr:nth-child(7) ul li:not(:nth-child(2)){
	padding:0 20px;
	width:50px;
	height:100%;
	color:gray;
}
#course_form tr:nth-child(7) ul li:not(:nth-child(2)):hover{
	background-color:#F2F2F2;
	cursor: pointer;
}
#course_form tr:nth-child(7) ul li:first-child:hover{
	border-radius: 5px 0 0 5px;
}
#course_form tr:nth-child(7) ul li:last-child:hover{
	border-radius: 0 5px 5px 0;
}
#course_form i{
	line-height: 20px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#course_form tr:nth-child(7) input[type='number']{
	text-align: center;
	width:100px;
	height:28.400px;
	border: none;
	outline: none;
}
#course_form tr:nth-child(7) input[type='number']:hover,
#course_form tr:nth-child(7) input[type='number']:focus{
	outline:3px solid gray;
	position:relative;
}

/*가격*/
#course_form #course_vprice{
	width:200px;
	height:28.400px;
	text-align: right;
}

/*우편번호*/
#course_form #zipcode input:first-child{
	float: left;
	width:65%;
}
#course_form #zipcode input:last-child{
	float: right;
	width:33%;
	font-size: 10pt;
	font-weight:bold;
	height:100%;
	border:none;
	border-radius: 5px;
	padding:5px 10px;
	background-color: lightgray;
	color:#404040;
}
#course_form #zipcode input:last-child:hover,
#course_form .image span:last-child:hover{
	background-color: #404040;
	color:#FFF;
}

/*이미지*/
#course_form .image .upload-box{
	position:relative;
	float:left;
	width:150px;
	height:150px;
	margin-bottom:30px;
	border:1px solid lightgray;
	color:lightgray;
}
#course_form .image span:last-child{
	position:absolute;
	top:155px;
	left:0;
	width:100%;
	height:25px;
	margin:0;
	border-radius:5px;
	background-color:lightgray;
	text-align: center;
	color:#404040;
	font-weight:bold;
	line-height:20pt;
}

#course_form .image #text{
	font-size:10pt;
	border:none;
	
}
#course_form .image i{
	color:lightgray;
}
#course_form .image i:first-child{
	top:52px;
	left:58px;
	font-size: 25pt;
}
#course_form .image i:first-child:hover{
	font-size: 30pt;
	top:50px;
	left:55px;
	color:#404040;
}

#course_form .image i:last-child:hover{
	font-size: 13pt;
}





/*하단 등록,홈 버튼*/
.form-btn{
	width:90px;
	height:35px;
	text-align: center;
	border:2px solid gray;
	border-radius: 20px;
	background-color: #FFF;
	color:gray;
	font-size:10pt;
	font-weight:bold;
	margin:0 5px;
}
.form-btn:hover{
	background-color: #F2F2F2;
}


/*강의-
=============================*/








/*반응형
=============================*/
@media (max-width: 992px){/*992px 이하*/
	#course_form h5,#course_form table{
		width:100%;
	}
}
