@charset "UTF-8";

/*강의-메인
=============================*/
#course_main{
	display:flex;
}
#sidebar{
	width:20%;
	margin-top:80px;
}
#content{
	width:80%;
	margin-top:80px;
	background-color: pink;
}

#sidebar ul{
	padding:0;
	margin-right:20px;
}
#sidebar a{
	display:block;
	text-decoration: none;
	color:#404040;
	cursor: pointer;
}
#sidebar .cate{
	padding:10px;
	font-size: 14pt;
	font-weight: bold;
	transition:.2s;
}
#sidebar .cate:hover, #sidebar .active-color0{
	background-color:#F2F2F2;
	border-radius: 10px;
	font-size:16pt;
}
#sidebar .active-color0{
	color:#FF4E02;
}

#sidebar .d_cate{
	font-size:10pt;
	line-height:3em;
	padding:10px 0 20px 10px;
	margin:0;
	display:none;
}
#sidebar .d_cate li:hover, #sidebar .active-color{
	font-weight:bold;
	font-size:11pt;
}
#sidebar .active-color{
	color:#FF4E02;
}
#sidebar .active-black{
	color:#404040;
}







/*강의-상세
=============================*/






/*강의-등록폼,수정폼
=============================*/





/*강의-
=============================*/
