@charset "UTF-8";

/*강의-메인
=============================*/


/*사이드바*/
#course_main{
	display:flex;
}
#sidebar{
	width:20%;
	margin-top:100px;
}
#content{
	width:80%;
}

#sidebar ul{
	padding:0;
	margin-right:20px;
}
#sidebar a{
	display:block;
	text-decoration: none;
	color:#404040;
	cursor: pointer;
}
#sidebar .cate{
	padding:10px;
	font-size: 16pt;
	font-weight: bold;
	transition:.2s;
}
#sidebar .cate:hover, #sidebar .active-color0{
	color:#FF4E02;
	background-color:#F2F2F2;
	border-radius: 5px;
	font-size:18pt;
}
#sidebar .d_cate{
	line-height:3em;
	padding:10px 0 20px 10px;
	margin:0;
	display:none;
}
#sidebar .d_cate li:hover, #sidebar .active-color{
	font-weight:bold;
	font-size:14pt;
}
#sidebar .active-color{
	color:#FF4E02;
}





/*강의-목록
=============================*/
#content{
	margin-top:100px;
	min-width:780px;
}
#select{
 	margin-bottom:10px;
}

#course_search{
	width:50%;
	min-width:400px;
	margin:0 auto;
	margin-bottom:100px;
}
#course_search #search_bar{
	background-color: #FFF;
	border:1px solid lightgray;
	border-radius:5px;
	outline:none;
}
#course_search #search_bar:focus{
	outline:5px solid #E0E0E0;
	transition:.2s;
	background-color: #FFF;
}
#course_search #search_icon{
	background: none;
	border:none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
#content .form-select{
	width:100px;
	height:40px;
	border-radius: 5px;
	transition: none;
}
#content .form-select:focus{
	outline:5px solid #E0E0E0;
	border:none;
}
#course_search .form-select{
	margin-right:10px;
}
#select .select{
	width:170px;
	margin-left:10px;
}
#select{
	display: flex;
	justify-content:flex-end;
	align-items: center;
}
#select #total{
	margin-right:auto;	
	padding:15px 0 0 5px;
	display:inline-block ;
}
#select #location option{
	border-color: gray;
}



/*카드 목록*/
#content .card{
	cursor:pointer;
}
#content .card-body{
	color:#404040;
}
#content span{
	font-size:10pt;
}
/*hover 이미지 확대*/
.card-img-top{
	height:200px;
	overflow: hidden;
}
.card-img-top:hover img{
	transform: scale(1.15);
}
.card-img-top img{
	transition: all 0.2s linear;
}

#content .card-hit{
	float:right;
	color:gray;
}
#content .red-heart{
	display:block;
	text-align:right;
	position:absolute;
	top:10px;
	right:10px;
	z-index:990;
}
#content .red-heart .fa-heart{
	color:red;
	font-size:15pt;
}
#content .color-gray{
	color:gray;
	line-height: 20px;
}
#content .card-title{
	margin:5px 0;
}
#content .fa-star{
	color:rgba(250, 208, 0, 0.99);
}
#content .card-text{
	margin-top:10px;
}

#content .list-page{
	margin-top:50px;
}




/*강의-등록폼,수정폼
=============================*/
#course_form{
	padding-top:100px;
}
#course_form .title{
	width:80%;
	margin:0 auto;
	color:#404040;
	font-size:35px;
	text-align: center;
}
#course_form .reg-form{
	position:relative;
	width:80%;
	margin:0 auto;
	margin-top:20px;
	font-size:10pt;
}
#course_form tr{
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
}
#course_form td:first-child{
	border-bottom:1px solid lightgray;
	border-right:1px solid lightgray;
	min-width:150px;
	width:300px;
	text-align: center;
	font-weight:bolder;	
	background-color: #FFF;
}
#course_form td{
	padding:10px 20px;
}





#course_form input[type=date],
#course_form input[type=text],
#course_form input[type=number],#course_vprice{
	width:100%;
	outline:1px solid lightgray;
	border:none;
	border-radius:5px;
	padding:5px 5px 5px 10px;
}
#course_form input[type=text]:hover,#course_form input[type=text]:focus,
#course_form input[type=number]:hover,#course_form input[type=number]:focus,
#course_form input[type=date]:hover,#course_form input[type=date]:focus,
.btn-select:hover,#course_vprice:hover{
	outline:3px solid gray;
}

/*라디오버튼*/
#course_form .radio input[type=radio]{
	margin-right:5px;
}
#course_form .radio label{
	margin-right:20px;
	cursor: pointer;
}

#course_form .radio input[type="radio"] {
	vertical-align:middle;
	appearance: none;/*기본속성제거*/
	border: 2px solid gray;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: border 0.3s ease-in-out;/*속도 천천-보통-천천*/
}
#course_form .radio input[type=radio]:checked{
	border: 0.4em solid #FF4E02;
}
#course_form .radio input[type=radio]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor: pointer;
}


/*카테고리*/
.btn-select, #course_form .btn-select2{
	display:inline-block;
	width: 200px;
	height:30px;
	padding: 5px 10px 5px 10px;
	font-size: 13px;
	background-color: #fff;
	outline: 1px solid lightgray;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
}
.list-box,#course_form .list-box2{
	display:none;
	position:relative;
	border:none;
}
.list-cate,#course_form .list-cate2{
	position: absolute;
	top:10px;left:0;
	width:200px;
	margin:0;
	padding:0;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	z-index:997;
}
.list-cate li,#course_form .list-cate2 li{
    width: 100%;
    height:40px;
	line-height:30px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
}
.list-cate li:first-child,#course_form .list-cate2 li:first-child{
	border-radius:5px 5px 0 0;
}
.list-cate li:last-child,#course_form .list-cate2 li:last-child{
	border-radius:0 0 5px 5px;
}


.list-cate li:hover,#course_form .list-cate2 li:hover{
    background-color: #F2F2F2;
    font-weight:bold;
    color:#FF4E02;
}




/*요일,시간*/
#course_form #datetime tr{
	border:none;
}
#course_form #datetime th{
	width:80px;
	vertical-align: top;
	padding:5px 0 15px 0;
}
#course_form #datetime td{
	padding:5px 20px;
}
#course_form #datetime label{
	width:80px;
	display:inline-block;
	border:1px solid lightgray;
	border-radius: 5px;
	padding:5px 10px;
	text-align:center;
	font-weight:bolder;
	color:lightgray;
	cursor: pointer;
}
#course_form #datetime label:hover{
	box-shadow:0 0 0 3px lightgray;
	cursor:pointer;
}
#course_form #datetime input[type=checkbox]{
	display:none;
}
#course_form #datetime input[type=checkbox]:checked + label{
	border:none;
	background-color:#FF4E02;
	color:#FFF;
}
#course_form #datetime .time-choice{
	display: none;
	width:120px;
	margin:0 10px 10px 0;
	padding-left:5px;
	text-align:center;
	cursor: pointer;
}
#course_form #datetime .time-choice:first-child{
	margin-right:20px;
}
#course_form #datetime span{
	width:100px;
	padding:5px;
	margin:0 0 10px 0;
	height:30px;
	border:1px solid lightgray;
	border-radius:5px;
	color:#404040;
	font-weight:bold;
    text-align: center;
	display:none;
	cursor: pointer;
}
#course_form #datetime span:hover{
	background-color:#404040;
	color:#FFF;
}
#course_form #datetime .d1{
	position: relative;
	display:none;
	color:#404040;
	top:-13px;
	left:-22px;
	background-color:#FFF;
	cursor: pointer;
}
#course_form #datetime .d1:first-child{
	display:none;
}
.ui-timepicker-wrapper{
	width:120px;
	margin-top:10px;
	border-radius:5px;
	z-index:998;
}
li.ui-timepicker-selected, .ui-timepicker-list li:hover{
	background: #F2F2F2;
	color:#FF4E02;
}
.ui-timepicker-list .ui-timepicker-selected:hover{
	color: #F2F2F2;
	background:#FF4E02;
}




#course_form ul:not(.list-cate,.list-cate2){
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin:0;
	padding:0;
}
/*정기-시작날짜*/
#course_form #course_startdate{
	width:200px;
}


/*수강인원수*/
#course_form .monthCount td input{
	width:200px;
	text-align: right;
}
#course_form .limit ul{
	width:200px;
	height:30px;
	outline: 1px solid lightgray;
	border-radius: 5px;
}
#course_form .limit li:not(:nth-child(2)){
	padding:0 20px;
	width:50px;
	height:100%;
	color:gray;
}
#course_form .limit li:not(:nth-child(2)):hover{
	background-color:#F2F2F2;
	cursor: pointer;
}
#course_form .limit li:first-child:hover{
	border-radius: 5px 0 0 5px;
}
#course_form .limit li:last-child:hover{
	border-radius: 0 5px 5px 0;
}
#course_form i{
	line-height: 20px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#course_form .limit input[type='number']{
	text-align: center;
	width:100px;
	height:28.400px;
	border: none;
	outline: none;
}
#course_form .limit input[type='number']:hover,
#course_form .limit input[type='number']:focus{
	outline:3px solid gray;
	position:relative;
}

/*가격*/
#course_form #course_vprice{
	width:200px;
	height:28.400px;
	text-align: right;
}
#course_form #course_vprice:focus{
	outline:3px solid gray;
}
/*우편번호*/
#course_form #zipcode input:first-child{
	float: left;
	width:65%;
}
#course_form #zipcode input:last-child{
	float: right;
	width:33%;
	font-size: 10pt;
	font-weight:bold;
	height:100%;
	border:none;
	border-radius: 5px;
	padding:5px 10px;
	background-color: lightgray;
	color:#404040;
}
#course_form #zipcode input:last-child:hover,
.image span:last-child:hover{
	background-color: #404040;
	color:#FFF;
}

/*이미지*/
.image img,.m-image img{
	width:150px; 
	height:150px;
	display:none;
	border:1px solid lightgray;
}
.image .label1,.m-image .label1{
	position:relative;
	display:inline-block;
	top:0;
	left:0;
	width:150px;
	height:150px;
	color:lightgray;
	border:1px solid lightgray;
	cursor: pointer;
}
.image .fa-circle-plus,.m-image .fa-circle-plus{
	position: absolute;
	top:60px;
	left:53px;
	font-size: 30pt;
	color:lightgray;
}
.image .label1:hover i,.m-image .label1:hover i{
	left:51px;
	font-size: 35pt;
	color:#404040;
}
.image span,.m-image span{
	position: absolute;
	top:95px;
	left:12px;
}
.image .label2,.m-image .label2{/*파일 선택 버튼*/
	position:relative;
	top:2px;
	left:0px;
	width:150px;
	height:30px;
	border:1px solid lightgray;
	border-radius:0 0 5px 5px;
	text-align: center;
	color:#404040;
	font-weight:bold;
	line-height:22pt;
	cursor: pointer;
}
.image .label2:hover,.m-image .label2:hover{
	background-color:#404040;
	color:#FFF;
}
.image .fa-circle-xmark,.m-image .fa-circle-xmark{
	position:relative;
	top:-173px;
	left:124px;
	font-size:15pt;
	color:#404040;
	background-color:#FFF;
	border-radius:50%;
	cursor: pointer;
	display:none;
}
.image .fa-circle-xmark:hover,.m-image .fa-circle-xmark:hover{
	color:#FF4E02;
}
.image ul{
	justify-content:flex-start;
}
.image ul li{
	width:150px;
	height:182px;
	margin-right: 20px;
}



/*하단 등록,홈 버튼*/
.form-btn{
	width:90px;
	height:35px;
	text-align: center;
	border:2px solid gray;
	border-radius: 20px;
	background-color: #FFF;
	color:gray;
	font-size:10pt;
	font-weight:bold;
	margin:0 5px;
}
.form-btn:hover{
	background-color: #F2F2F2;
}


/*강의-상세
=============================*/
.margin-top{
	margin-top: 30px;
}
/*왼쪽 이미지*/
.carousel-inner{
	border-radius:10px;
	width:700px;
}
#carouselExampleIndicators img{
	width:100%;
	height:480px;
	border:1px solid lightgray;
}
.left-img ul{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:0;
	margin-top:20px;
}
.left-img ul img{
	width:210px;
	height:150px;
	border-radius:10px;
	transition:all .2s linear;
	border:1px solid lightgray;
	cursor: pointer;
}
.left-img ul img:hover{
	transform:scale(1.1);
}

/*오른쪽 클래스 설명*/
.course-info{
	display:flex;
	justify-content: space-between;
	padding-top:100px;
}
.right-class{
	position:relative;
	width:50%;
	min-width:500px;
	margin:0 0 16px 70px;
	padding:70px;
	text-align:left;
	font-size:14pt;
	border-radius:10px;
	box-shadow:0 0 5px 3px #F0F0F0;
}
.right-class .star{
	color:rgba(250, 208, 0, 0.99);
	font-size: 2em;
}
.right-class .gray{
	color:gray;
}
.right-class .heart{
	float:right;
	line-height: 20px;
}
.right-class .fa-heart{
	font-size:18pt;
}
.right-class .heart:hover{
	cursor: pointer;
}
.right-class .reservation{
	position: absolute;
	bottom:70px;
	width:100%;
	padding-right:140px;
}
.right-class .price{
	font-size: 20pt;
	font-weight: bold;
	line-height:18px;
	float:right;
}
.right-class .buy{
	display:block;
	width:48%;
	height:50px;
	border:none;
	border-radius:5px;
	background-color: #FF4E02;
	color:#FFF;
	text-align:center;
	font-weight: bold;
	line-height: 50px;
	cursor: pointer;
}
.right-class .buy:hover{
	background-color: #E84601;
}



.course-d-info{
	margin-top:150px;
}
.course-d-info .title ,.course-d-info .reply-avg{
	display:flex;
	justify-content:flex-start;
	margin:0;
	padding:0;
}
.course-d-info .title li,.course-d-info .reply-avg li{
	padding:20px 50px;
	font-size:14pt;
	font-weight:bold;
	cursor:pointer;
}
.course-d-info .title li:hover{
	background-color:#F2F2F2;
}
.course-d-info .title .active{
	border-bottom:5px solid #FF4E02;
}
.badge{
	background-color: gray;
}
.course-d-info .c-content,.course-d-info .reply,.course-d-info .qna{
	margin-top:150px;
}

/*클래스 후기*/
.reply .reply-avg{
	justify-content: center;
	margin:40px 0;
}
.reply .reply-avg li:first-child{
	margin-right:30px;
	font-size: 40pt;
	padding-left:0;
}
.reply .reply-avg li:last-child{
	background-color: #F2F2F2;
	border-radius: 10px;
	text-align: center;
	padding:50px 50px;
}
.reply-avg li:first-child span:first-child{
	color:rgba(250, 208, 0, 0.99);
	font-size: 2em;
	line-height: 80px;
}



/*후기 정렬*/
.course-d-info .btn-select{
	float: right;
	margin-bottom:10px;
	width:100px;
}
.course-d-info .list-box{
	position:absolute;
	top:30px;
	right:100px;
}
.course-d-info .list-cate{
	width:100px;
	font-size: 10pt;
}
.course-d-info .icon{
	line-height:20px;
}
.course-d-info h5{
	margin-left:20px;
}
/*후기 등록 폼*/
#reply_form{
	width:70%;
	height:570px;
	margin:0 auto;
	padding:70px;
}
#reply_form .reply_star{
	position:relative;
	margin-bottom:10px;
	font-size:15pt;
	padding:0 10px;
}
.reply-content{
	width:100%;
	height:200px;
	padding:10px 20px;
	border:2px solid lightgray;
	border-radius: 10px;
}
.reply-content:hover,
.reply-content:focus{
	outline:3px solid gray;
	border:none;
}
/*후기 사진등록 및 버튼*/
.reply-photo{
	margin-top:10px;
}
.reply-photo .image{
	padding:0;
}
.reply-photo .image li{
	float:left;
	width:120px;
	margin-right:20px;
}
.reply-photo .label1,.reply-photo img{
	width:120px;
	height:120px;
	border-radius: 10px;
}
.reply-photo .fa-circle-plus{
	left:45px;
	top:45px;
	font-size: 25pt;
}
.reply-photo .image .label1:hover i{
	left:42px;
	top:42px;
	font-size: 30pt;
}
.reply-photo .fa-circle-xmark{
	top:-127px;
	left:107px;;
	font-size:15pt;
	background-color: #FFF;
	border-radius: 50%;
}
/*글자수 및 전송버튼*/
.reply-photo .reply-submit-btn{
	float:right;
	text-align: right;
	margin-right:10px;
}
.letter-count{
	position:absolute;
	top:32px;
	right:0;
	color:gray;
	font-size:12pt;
	margin-right:20px;
}
.fa-paper-plane{
	font-size: 30pt;
	color:#FF4E02;
	transition:.3s;
}
.fa-paper-plane:hover{
	transform:rotate(20deg) scale(1.1);
	cursor: pointer;
}

/*후기 정렬*/
.reply-search{
	position:relative;
	width:70%;
	margin: 0 auto;
}
.reply-search .btn-select{
	position: absolute;
	bottom:0;
	right:20px;
}


/*후기 목록*/
#output .item{
	width:70%;
	margin:0 auto;
	padding:10px 20px;
	position: relative;
}
#output .wid{
	width:70%;
	margin:0 auto;
}
#output .r-list-star{
	color:rgba(250, 208, 0, 0.99);
    font-size: 1.5em;
	margin-left:20px;
}
#output .r-list-fav{
	float: right;
	width:90px;
	height:35px;
	margin-right:20px;
	border:1px solid lightgray;
	border-radius: 20px;
	cursor: pointer;
}
#output .fa-thumbs-up{
	padding-left:20px;
	line-height:35px;
	margin-right:10px;
}
#output .fa-thumbs-up:hover{
	transform:scale(1.1);
}
#output .re-help{
	display: inline-block;
	text-align: right;
}
#output .detail-info{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:0;
}
#output .my-photo{
	border-radius: 50%;
	margin-right:20px;
}
#output .modify-date{
	color:#B2B2B2;
}
#output .reply-btn{
	position: absolute;
	bottom:0;
	right:20px;
}
.modify-btn,.delete-btn,.submit-btn,.reply-reset{
	background-color: #FFF;
	outline:1px solid gray;
	border:none;
	border-radius: 20px;
	width:70px;
	height:35px;
	font-size: 10pt;
}
.modify-btn:hover,.delete-btn:hover,.submit-btn:hover,.reply-reset:hover{
	background-color: #F2F2F2;
}
.modify-btn{
	margin-right:5px;
}
#output p{
	width:70%;
	margin:0;
}

/*후기 별점*/
#reply_form fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#reply_form input[type=radio]{
    display: none;
    cursor: pointer;
}
#reply_form label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
    cursor: pointer;
}
#reply_form input[type=radio]:checked ~ label,
#reply_form input[type=radio]:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}


/*후기목록 이미지*/
.list-photos{
	display: none;
}
.sub-item img{
	border:1px solid lightgray;
	border-radius:10px;
	margin:20px 10px 0 0;
	cursor: pointer;
}
.sub-item .look-photo{
	display:inline-block;
	outline:1px solid lightgray;
	color:gray;
	border-radius:20px;
	margin-top:20px;
	padding:5px 10px;
	font-size: 10pt;
	cursor: pointer;
}
.sub-item .look-photo:hover{
	outline:none;
	background-color: #404040;
	color:#FFF;
}
#exampleModal img{
	width:470px;
	height:470px;
}



/*후기 페이징*/
.paging-btn{
	padding:0;
	display: flex;
	justify-content: center;
}
.paging-btn li{
	padding:10px 20px;
	margin-top:30px;
	cursor: pointer;
}
.paging-btn li:hover{
	background-color:#F2F2F2;
	border-radius:5px;
}
.paging-btn i{
	color:gray;
}

/*후기 수정폼*/
#mreply_form{
	height:380px;
	padding:0 50px;
}
.mletter-count{
	right:50px;
}
#mreply_form .submit-btn,#mreply_form .reply-reset{
	float:right;
}
#mreply_form .submit-btn{
	margin-right:10px;
	text-align: center;
}
/*후기 수정 이미지*/
/*
.mreply-photo{
	background-color:#FF4E02;
	border-radius: 20px;
	color:#FFF;
	padding:10px 20px;
	font-size: 10pt;
	margin-bottom:10px;
	margin-right:10px;
	cursor: pointer;
}
.mreply-photo:hover{
	background-color:#E84601;
}
.reply-photo-name{
	margin-right:20px;
}
.saved{
	color:#B2B2B2;
}
.del{
	margin-left:10px;
}
*/
#mreply_form img{
	border-radius: 10px;
}
#mreply_form label{
	margin-right:20px;
	border-radius: 10px;
}

#mreply_form .fa-circle-xmark{
	top:-67px;
	left:-12px;
} 
















/*반응형
=============================*/
@media (max-width: 992px){/*992px 이하*/
	#course_form h5,#course_form table,#course_form .title{
		width:100%;
	}
}
