@charset "UTF-8";
 

/* 회원가입
---------------------------*/
.hr-sect {
    display: flex;
    flex-basis: 100%;
    justify-content:center;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

a {
    color: gray;
    text-decoration: underline;
    font-size: 15px;
}

a:hover {
    color:black;
    text-decoration: none;
}


.view-box{
      height: 50px; 
      width: 400px;
      overflow: hidden;
      margin: 0 auto;

    }
.view-box ul{
      list-style: none; 
      padding: 0; 
      width: 400%;  
      text-align: center;
      margin: 0 auto;
    }
.view-box ul li{
      width: 25%; 
      height: 50px; 
      line-height: 50px; 
      float:left;
      margin: 0 auto;
      
    }
.view-box ul::after{
      display: block; 
      content: ''; 
      clear: both;
      margin: 0 auto;
    }
  


/* 로그인
---------------------------*/

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

a {
    color: gray;
    text-decoration: underline;
    font-size: 15px;
}

a:hover {
    color: black;
    text-decoration: none;
}

select {
    height: 24px !important;
    font-size: 11px !important;
    border-radius: 0.25rem !important;
    background-color: #eee !important;
    border: none !important;
}

