@charset "UTF-8";
#mypage_main{
	width:100%;
	display:flex;
}
/* 좌측 메뉴 레이아웃(Admin,MyPage)
=============================*/
div#page_nav{
	float:left;
	width:25%;
	min-height:530px;
}
div#page_body{
	width:75%;
	float:left;
}
.page_clear{
	clear:both;
}

/*사이드바 크기 조정
=============================*/
.side-bar{
	margin:100px 10px 10px 0;
	padding:10px;
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절*/
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	background-color: #FFF;
    color:#FF4E02;;
    border-radius: 20px;
    box-shadow:2px 3px 5px 0px black;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
}

.side-height{
	overflow:hidden;
	margin-bottom:10px;
}
.menu-btn{
	width:100%;
	height:50px;
	font-size:12pt;
	background-color:#FCFCFC;
	border-color:#B7B5B5;
	border-radius:5px;
}
.main-menu{
	margin:0px;
	padding:0;
	margin-top:50px;
	text-align:center;
}
.side-bar ul li{
	padding:10px 10px 5px 10px;
}
#content{
	width:80%;
	margin-top:200px;
	margin-left:50px;
}
.side-bar ::before{
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.side-bar label::before{ content: '\e5d2'; }
.side-bar li:nth-child(1) a::before{ content: '\f02e'; }
.side-bar li:nth-child(2) a::before{ content: '\e566'; }
.side-bar li:nth-child(3) a::before{ content: '\e88a'; }
.side-bar li:nth-child(4) a::before{ content: '\ea65'; }
.side-bar li:nth-child(5) a::before{ content: '\e87d'; }
.side-bar li:nth-child(6) a::before{ content: '\e8b8'; }

.side-bar #like::before{ content: '\e87d';}
.side-bar #item::before{ content: '\e1a1';}
.side-bar #shopping::before{ content: '\f1cc';}
.side-bar #apply::before{ content: '\e614';}
.side-bar #event-i::before{ content: '\ea3e';}
.side-bar #event-a::before{ content: '\f233';}
.side-bar #delivery::before{ content: '\e558';}
.side-bar #delete::before{ content: '\e92b';}
.side-bar #chat::before{ content: '\e0bf';}
.side-bar #admin::before{ content: '\ea3d';}

 /* 체크박스 폼 요소 감춤 */
#expand-menu {
    display: none;
}
/* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
#expand-menu:checked ~ ul { 
    display: block;
    height: auto;
}
.side-bar a:hover {
    color: white;
}
.side-bar ul li:hover, .sidebar > label:hover {
    background-color: #FF4E02;
    color:white;
    border-radius: 10px;
}
.side-bar div {
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 50px; /* 아이콘과 텍스트 사이 여백 */
}

/*사이드바 소메뉴*/
.big-menu{
	display:none;
}

.big-menu:hover, .item:hover + .big-menu{
	display:block;
	color:white;
}

/*좋아요 목록
=============================*/
/*기본 설정*/
#fav_size{
	margin-bottom:50px;
}
/*카테고리 버튼*/
.top-btn{
	margin-bottom:10px;
}
.cate-btn:click{
	background-color:#FF4E02;
}
/*카드 목록*/
#content .card{
	cursor:pointer;
}
#content .card-body{
	color:#404040;
}
#content span{
	font-size:10pt;
}
/*hover 이미지 확대*/
.card-img-top{
	height:200px;
	overflow: hidden;
}
.card-img-top:hover img{
	transform: scale(1.15);
}
.card-img-top img{
	transition: all 0.2s linear;
}
#content .red-heart{
	display:block;
	text-align:right;
	position:absolute;
	top:10px;
	right:10px;
	z-index:990;
}
#content .red-heart .fa-heart{
	color:red;
	font-size:15pt;
}
#content .color-gray{
	color:gray;
	line-height: 20px;
}
#content .card-title{
	margin:5px 0;
}
#content .fa-star{
	color:orange;
}
#content .card-text{
	margin-top:10px;
}

#content .list-page{
	margin-top:50px;
}

#align-center{
	text-align:center;
}



/*=========나의 프로필============*/
.my-photo{
	margin-bottom:30px;
	border-radius: 50%;
}
.my-photo + h4{
	float:right;
	margin:250px;
	margin-left:30px;
	margin-top:50px;
}
#content .my-photo + h4 span{
	color:#FF4E02;
	font-weight: bold;
	font-size: 20pt;
}
.modify-btn{
	background-color:#FF4E02; 
	font-size:10pt;
	border:none;
	border-radius:10px;
	color:#FFF;
	padding:10px 20px;
	margin-left:40px;
}
.myPage-info{
	width:800px;
	margin:30px 0;
	background-color: #f2f2f2;
	border-radius: 10px;
	padding:20px 40px;
}
.myPage-info td{
	padding:20px 40px;
	
}
/*===============프로필 수정===============*/
#content{
	width:1024px;
}
.mod-btn,#photo_choice input[type=button]{
	width:150px;
	padding:10px 15px;
	background-color: #fff;
	border-radius: 20px;
	border:1px solid lightgray;
	cursor: pointer;
}
.mod-btn:hover{
	background-color: #f2f2f2;
	font-weight: bold;
}
#photo_btn{
	margin:0 0 50px 30px;
}
#upload{
	margin:0 0 20px 30px;
}
#photo_choice #photo_submit{
	margin-left:30px;	
	width:80px;
}
#photo_choice #photo_reset{
	margin:5px;
	width:80px;
}
#photo_choice{
	margin-bottom:50px;
}
.myPage-mInfo{
	background-color: #fff;
	margin-left:50px;
	width:100%;
}
.myPage-mInfo input,.passwd-change input{
	border:1px solid lightgray;
	border-radius: 10px;
	padding: 10px 20px;
}
#passwd_btn:hover,#zip_btn:hover{
	background-color: #404040;
	color:#fff;
}

/*============비번변경============*/
#change_form{
	width:500px;
	margin:50px auto;
}
#change_form h2{
	margin:0 0 50px 120px;
}
#change_form ul{
	padding:0;
}
#change_form li{
	margin:20px;
}
.passwd-change{
	background-color: #fff;
}

/*=============좋아요 리스트==============*/

#fav_size .btn,#reg_item .btn{
	border:1px solid lightgray;
	padding:10px 20px;
}
#fav_size .btn:hover,input[type="radio"]:checked + .btn{
	background-color:#FF4E02;
	color:#fff;
}
#search_form .search{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:50px;
}
#keyword,#keyfield,.order-list-btn,.order-search-btn{
	width:100px;
	border:1px solid lightgray;
	border-radius: 10px;
	padding:10px 20px;
	margin:0 10px;
	background-color: #fff;
}
.order-list-btn:hover{
	background-color:#404040;
	color:#fff;
}
.order-list-btn{
	float:right;
}
.order-search-btn{
	border:none;
	background-color:#FF4E02;
	color:#fff; 
}
#keyword{
	width:300px;
}
#keyfield{
	width:200px;
}


